@import "vars";



/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
//@include media-breakpoint-down(xl) {}

//Large: ≥992px
//@include media-breakpoint-down(lg) {}

//Medium: ≥768px
@include media-breakpoint-down(md) {
	.container {
//		width: 100%;
//		max-width: 320px;
//		padding: 0 10px;
	}

	.desktop {
		display: none;
	}
}

//Small: ≥576px
//@include media-breakpoint-down(sm) {}

//Extra small: >0
//@include media-breakpoint-down(xs) {}


/*==========  Mobile First  ==========*/

//Extra small: <576px
//@include media-breakpoint-up(xs) {}

//Small: ≤576px
//@include media-breakpoint-up(sm) {}

//Medium: ≤768px
//@include media-breakpoint-up(md) {}

//Large: ≤992px
//@include media-breakpoint-up(lg) {}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {
	.container {
		width: 1200px;
	}
	.mobile {
		display: none;
	}
	.header {
		&__link {
			&--home {
						width: 193px;

			}
		}
	}
	.home {
		&__text {
			display: block;
		}
	}
	.menu {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
	}
	.nav {
		flex-direction: row;
	}
	.toggler {
		display: none;
	}
}
